GITHUB_PAT=your_pat_here
REPOS_BASE_PATH=~/.deploy_tool/repos
NBN_DAEMON_REPO_URL=https://github.com/nasuni/nbn-daemon.git
UNITY_REPO_URL=https://github.com/nasuni/unity.git
DEPLOY_TIMEOUT_SECONDS=1800
SERVER_PORT=8000
