GITHUB_PAT=your_pat_here
REPOS_BASE_PATH=~/.deploy_tool/repos
NBN_DAEMON_REPO_URL=https://github.com/nasuni/nbn-daemon.git
UNITY_REPO_URL=https://github.com/nasuni/unity.git
DEPLOY_TIMEOUT_SECONDS=1800
SERVER_PORT=8000
DEVELOPER_MACHINE_MAC=aa:bb:cc:dd:ee:ff
DEVELOPER_MACHINE_USER=sbhushan
DEVELOPER_MACHINE_SSH_PORT=22
CREDENTIAL_REFRESH_INTERVAL_MINUTES=30
AWS_CODEARTIFACT_DOMAIN=nasuni-portal
AWS_CODEARTIFACT_OWNER=851725431039
AWS_CODEARTIFACT_REPO=nasuni-portal
AWS_PROFILE=portal-dev
